<h1>Departments</h1>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manager</th>
      <th>Budget</th>
      <th>Employees</th>
    </tr>
  </thead>
  <tbody>
    {{#each departments}}
      <tr>
        <td>{{department_name}}</td>
        <td>{{manager_name}}</td>
        <td>${{budget}}</td>
        <td>
          {{#if employees.length}}
            <ul>
              {{#each employees}}
                <li>{{employee_name}}</li>
              {{/each}}
            </ul>
          {{else}}
            No employees
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>